.container{
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 40px;
    box-shadow: 2px 3px 5px rgba(128, 128, 128, 0.5);
}
h4{
 
    margin: 30px 0px;

    padding: 5px;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.8);
    text-align: center;
}
h5{
    margin-top: 20px;
}
.ma-san tr td{
    border: 1px solid var(--mainColor);
    padding: 5px;    
}
.ma-san tr td:first-child{
    background-color: var(--secondary);
}

.input-info tr td{
    border: 2px solid var(--mainColor);
    padding: 5px 10px;
 
}
.input-info tr td:first-child{
    background-color: var(--secondary);
}
input{
    border: none;
    border-style: none;
    width: 100%;
}
.btn-action{
    margin-top: 20px;
    position: relative;
    left: 40%;
}
.submit{
    background-color: var(--mainColor);
    color: white;
}
.submit:hover{
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
}

.cancel{
    border: 1px solid black;
    
    width: 100px;
}

.cancel:hover{
    background-color: black;
    color: white;
}